.heading,
.subheading,
.text {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}

.subheading {
  font-weight: 400;
}

.text {
  font-weight: 200;
}

.button:hover {
  background-color: darkgrey;
}
